.not-found {
    height: 100%;
    width: 100%;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    background-color: #393E46;

    .warning-icon {
        font-size: 6em;
        margin-bottom: 50px;
    }

    h1 {
        color: $color-4;
        font-size: 3.5em;
        margin-bottom: 50px;
    }

    h2 {
        font-size: 2em;
    }

    a {
        margin-top: 150px;
        margin-bottom: 50px;
        font-size: 1.3em;
        color: rgb(230, 230, 230);

        &:hover {
            color: $color-4;
        }
    }
}