input {
    width: 250px;
    margin-top: 10px;
    height: 30px;
    border-radius: 7px;
    border: none;
    margin-right: 5px;
    padding: 10px;
    @include shadow();
    font-size: 1em;
}

.error {
    display: none;
    color: rgb(230, 47, 47);
    margin-top: 8px;
}

.date-error {
    display: none;
    color: rgb(230, 47, 47);
    margin-top: 8px;
}

label, .label {
    margin-top: 10px;
}